body, p, h3, img{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background-color: rgb(231, 230, 230);
  font-family: fantasy;
  font-size: 0.9rem;
}
#root {
  --bg-color: rgb(231, 230, 230);
  --article-bg-color: rgb(255, 255, 255);
  --title-text-color: rgb(29, 28, 28);
  --text-color: rgb(169, 169, 169);
  padding: 20px;
}
#search-container {
  padding: 10px;
  display: flex;
  gap: 20px;
  text-align: center;
  font-family: monospace;
}
#search-select {
  height: 40px;
  line-height: 1.2;
  /* Optional: remove default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='10' viewBox='0 0 24 24' width='10' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  padding-right: 30px; /* leave space for arrow */
  cursor: pointer;
}

#search-select, #search-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid rgb(101, 100, 100);
  border-radius: 8px;
  background-color:var(--article-bg-color);
}
#search-input {
  width: 300px;
}
#search-count {
  display: none;
}
.count-number {
  margin-left: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--title-text-color);
}
#episodes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 10px;
}
article {
  width: 300px;
  height: 480px;
  margin: 15px auto;
  align-items: center;
  border-radius: 10px;
  background-color: var(--article-bg-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
h3 {
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--title-text-color);
  border: 1px solid rgb(101, 100, 100);
  border-radius: 10px;
  font-family: monospace;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  border-radius: 14px;
  padding: 20px 10px 10px 10px;
}
p {
  padding: 10px 20px;
  color: var(--text-color);
  line-height: 1.4;
}
